<div id="<%= dom_id post %>">
<div class="card" >
<%= image_tag "https://thispersondoesnotexist.com/?ref=evernote.design/#{post.id}", alt: "lorem ...", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= post.title %></h5>
    <p class="card-text"><%= post.content %></p>
    <h3>How many likes? <%= post.likeness %></h3>
    <%= button_to("Like",give_a_like_path,method: :post,params: { post_id: post.id })%>
    
  </div>
 
  
</div>

</div>







